{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page_title.it }}</title>
		<meta name="description" content="{{ meta_description.it }}" />
		<link
			rel="icon"
			href="{% static 'images/favicon.ico' %}"
			type="image/x-icon" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap"
			rel="stylesheet" />
		<script
			src="https://kit.fontawesome.com/0adb953a4a.js"
			crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
		{% include 'basics/navbar.html' %}

		<section class="section">
			<div class="container" data-aos="fade-up">
				<div data-lang="it">
					<h2 class="section-title">Instagram</h2>
				</div>
				<div data-lang="en" style="display: none">
					<h2 class="section-title">Instagram</h2>
				</div>
				<div class="row">
					<div class="col-12">
						<div
							class="embedsocial-hashtag"
							data-ref="e77f9374ae8ba9c6543e700c03908573b2225bd2">
							<a
								class="feed-powered-by-es feed-powered-by-es-slider-img es-widget-branding"
								href="https://embedsocial.com/social-media-aggregator/"
								target="_blank"
								title="Instagram widget">
								<img
									src="https://embedsocial.com/cdn/icon/embedsocial-logo.webp"
									alt="EmbedSocial" />
								<div class="es-widget-branding-text">Instagram widget</div>
							</a>
						</div>
						<script>
							(function (d, s, id) {
								var js;
								if (d.getElementById(id)) {
									return;
								}
								js = d.createElement(s);
								js.id = id;
								js.src = "https://embedsocial.com/cdn/ht.js";
								d.getElementsByTagName("head")[0].appendChild(js);
							})(document, "script", "EmbedSocialHashtagScript");
						</script>
					</div>
				</div>
			</div>
		</section>

		{% include 'basics/footer.html' %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init({
				duration: 1000,
				once: true,
			});
			document.addEventListener('DOMContentLoaded', function() {
				switchLanguage(getCookie('user_language'));
			});
		</script>
	</body>
</html>